*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  padding: 0;
}

body {
  font-family: "PlusJakartaSans-ExtraBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.demo-wrapper{
  height: 200px;
}

.text-area {
  width: 100%;
  height: 300px;
}